@charset "UTF-8";

button,img,legend{
border:0
}

body,button,legend{
padding:0
}

.row.collapse>.column,.row.collapse>.columns,.row.small-collapse>.column,.row.small-collapse>.columns{
    padding-left:0;
    padding-right:0
}


h3,h5,p{
    text-rendering:optimizeLegibility
}

.dropdown-pane,
.invisible{
    visibility:hidden
}

html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

main,menu,nav,section{
    display:block
}

a:active,a:hover{outline:0}
abbr[title]{
    border-bottom:1px dotted
}
b,optgroup,strong{
    font-weight:700
}
dfn{
    font-style:italic
}

small{
    font-size:80%
}

.button,img{
    vertical-align:middle
}


img{
    max-width:100%;
    height:auto;
    -ms-interpolation-mode:bicubic;
    display:inline-block
}

body .is-reveal-open,svg:not(:root){
    overflow:hidden
}

pre,textarea{
    overflow:auto
}

code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}

button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}

button,select{
    text-transform:none
}

button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}

button[disabled],html input[disabled]{
    cursor:default
}

button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}

input{
    line-height:normal
}

input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}

input[type=search]{
    -webkit-appearance:textfield;
    box-sizing:border-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}

.foundation-mq{
    font-family:"small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"
}

body,h3,h5{
    font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight:400
}

body,html{
    font-size:100%;
    box-sizing:border-box
}
*,:after,:before{
    box-sizing:inherit
}

body{
    margin:0;
    line-height:1.5;
    color:#0a0a0a;
    background:#fefefe;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

select{
    width:100%
}

button{
    -webkit-appearance:none;-moz-appearance:none;
    background:0 0;
    border-radius:0;
    line-height:1
}

.row{
    max-width:75rem;
    margin-left:auto;
    margin-right:auto
}

.row::after,.row::before{
    content:' ';
    display:table
}

.row::after{
    clear:both
}

.row .row{
    margin-left:-.9375rem;
    margin-right:-.9375rem
}
.row .row.collapse{
    margin-left:0;
    margin-right:0
}
.thumbnail img{
border: black;
}
.row.expanded{
    max-width:none
}

.column,.columns{
    width:100%;
    float:left;
    padding-left:.9375rem;
    padding-right:.9375rem
}

.column.row,.row.columns{
    float:none
}

.small-3{
    width:25%
}

.small-4{
    width:33.33333%
}
.small-9{
    width:75%
}
.columns{
    width:100%;float:left
}
.small-up-4 .column,.small-up-4 .columns{
    width:25%;
    float:left
}
.small-up-4 .column:nth-of-type(1n),
.small-up-4 .columns:nth-of-type(1n){
    clear:none
}
.small-up-4 .column:nth-of-type(4n+1),.small-up-4 .columns:nth-of-type(4n+1){
    clear:both
}
@media screen and (min-width:40em){
    .medium-3{
        width:25%
    }
    .medium-6{
        width:50%
    }
    .medium-up-3 .column,.medium-up-3 .columns{
        width:33.33333%;
        float:left
    }
    .medium-up-3 .column:nth-of-type(1n),.medium-up-3 .columns:nth-of-type(1n){
        clear:none
    }
    .medium-up-3 .column:nth-of-type(3n+1),.medium-up-3 .columns:nth-of-type(3n+1){
        clear:both
    }
}
@media screen and (min-width:64em){
.large-5{
    width:41.66667%
}
.large-up-5 .column,.large-up-5 .columns{
    width:20%;float:left
}
.large-up-5 .column:nth-of-type(1n),
.large-up-5 .columns:nth-of-type(1n){
    clear:none
}
.large-up-5 .column:nth-of-type(5n+1),.large-up-5 .columns:nth-of-type(5n+1){
    clear:both
}

.breadcrumbs::after,.tabs::after,.title-bar::after,.top-bar::after,hr{
    clear:both;
}
ol,ul{
    margin-left:1.25rem;
}

blockquote,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,li,ol,p,pre,td,th,ul{
    margin:0;
    padding:0;
}

dl,ol,p,ul{
    margin-bottom:1rem;
}
p{
    font-size:inherit;
}

h1,h2,h3,h4,h5,h6{
    font-style:normal;
    color:inherit;
    margin-top:0;
    margin-bottom:.5rem;
    line-height:1.4;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
    color:#cacaca;
    line-height:0;
}

h3{
    font-size:1.1875rem;
}
h5{
    font-size:1.0625rem;
}

@media screen and (min-width:40em){
    h3{
        font-size:1.9375rem;
    }
    h5{
        font-size:1.25rem;
    }
}

a{
    background-color:transparent;
    color:#2199e8;
    text-decoration:none;
    cursor:pointer
}

a:focus,a:hover{
    color:#1585cf;
}

a img{
    border:0;
}

hr{
    box-sizing:content-box;
    max-width:75rem;
    height:0;
    border-top:0;
    border-bottom:1px solid #cacaca;
    margin:1.25rem auto
}

dl,ol,ul{
    list-style-position:outside;
}

li{
    font-size:inherit;
}
ul{
    list-style-type:disc;
}

ol ol,ol ul,ul ol,ul ul{
    margin-left:1.25rem;
    margin-bottom:0;
    list-style-type:inherit;
}

.menu,.tabs{
    list-style-type:none;
}

label{
    font-weight:400;
}
blockquote{
    margin:0 0 1rem;
    padding:.5625rem 1.25rem 0 1.1875rem;
    border-left:1px solid #cacaca;
}
blockquote,blockquote p{
    line-height:1.6;
    color:#8a8a8a;
}


.button,.stat{
    line-height:1;
}

.text-left{
    text-align:left;
}

.text-right{
    text-align:right;
}

@media screen and (min-width:40em){
    .medium-text-right{
        text-align:right;
    }
}

@media screen and (min-width:64em){
    .large-text-right{
        text-align:right;
    }
    .large-text-center{
        text-align:center;
    }
}

.text-center{
    text-align:center;
}


@media screen and (min-width:40em){
    .medium-text-center{
        text-align:center;
    }
}
.text-justify{
    text-align:justify;
}

@media screen and (min-width:40em){
    .medium-text-justify{
        text-align:justify;
    }
}

@media screen and (min-width:64em){
    .large-text-justify{
        text-align:justify;
    }
}

.show-for-print{
    display:none !important;
}

@media print{
    blockquote,img,pre,tr{
    page-break-inside:avoid;
}


*{background:0 0!important;color:#000!important;
    box-shadow:none!important;
    text-shadow:none!important;
}
.show-for-print{
    display:block !important;
}

.hide-for-print{
    display:none !important;
}

table.show-for-print{
    display:table! important;
}

a:visited{
    text-decoration:underline
}
a[href]:after{
    content:" (" attr(href) ")"
    }
.ir a:after,a[href^='javascript:']:after,a[href^='#']:after{content:''}

blockquote,pre{
    border:1px solid #999;
}

img{
    max-width:100% !important;
}

@page{
    margin:.5cm
}

h2,h3,p{
    orphans:3;
    widows:3;
}

h2,h3{
    page-break-after:avoid;
}
}

.button{
    display:inline-block;
    text-align:center;
    cursor:pointer;
    -webkit-appearance:none;
    transition:all .25s ease-out;
    border:1px solid transparent;
    border-radius:0;
    padding:.85em 1em;
    margin:0 1rem 1rem 0;
    font-size:.9rem;
    background:#2199e8;
    color:#fff;
}

[data-whatinput=mouse]
.button{
    outline:0;
}
.button:focus,.button:hover{
    background:#1583cc;
    color:#fff;
}

.button.tiny{
    font-size:.6rem;
}

.button.small{
    font-size:.75rem;
}

.button.large{
    font-size:1.25rem;
}

.button.expanded{
    display:block;
    width:100%;
    margin-left:0;
    margin-right:0
}

.button.hollow{
    border:1px solid #2199e8;
    color:#2199e8;
}

.button.hollow,.button.hollow:focus,.button.hollow:hover{
    background:0 0;
}

.button.hollow:focus,.button.hollow:hover{
    border-color:#0c4d78;
    color:#0c4d78;
}

.button.arrow-only::after{
    margin-left:0;
    float:none;
    top:.2em;
}

[type=text],[type=search],textarea{
    display:block;
    width:100%;
    height:2.4375rem;
    padding:.5rem;
    margin:0 0 1rem;
    font-family:inherit;
    font-size:1rem;
    color:#8a8a8a;
    background-color:#fefefe;
    box-shadow:inset 0 1px 2px rgba(10,10,10,.1);
}

[type=text]:focus,[type=url]:focus,[type=search]:focus,textarea:focus{
    background:#fefefe;
    outline:0;
    box-shadow:0 0 5px #cacaca;
    transition:box-shadow .5s,border-color .25s ease-in-out;
}


input:disabled,input[readonly],textarea:disabled,textarea[readonly]{
    background-color:#e6e6e6;
    cursor:default;
}
[type=button],[type=submit]{
    border-radius:0;
    -webkit-appearance:none;
    -moz-appearance:none;
}

+label{
    display:inline-block;
    margin-left:.5rem;
    margin-right:1rem;
    margin-bottom:0;
    vertical-align:baseline;
}

label>[type=label],label>[type=checkbox]{
    margin-right:.5rem;
}
label{
    display:block;
    margin:0;
    font-size:.875rem;
    line-height:1.8;
    color:#0a0a0a;
}

.menu-text{
    font-weight:700;
}

label.middle{
    margin:0 0 1rem;
    padding:.5625rem 0;
}

select{
    height:2.4375rem;
    padding:.5rem;
    margin:0 0 1rem;
    font-size:1rem;
    font-family:inherit;
    line-height:normal;
    color:#8a8a8a;
    background-color:#fafafa;
    -webkit-appearance:none;
    -moz-appearance:none;
    background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(51, 51, 51)"></polygon></svg>');
    background-size:9px 6px;
    background-position:right .5rem center;
    background-repeat:no-repeat
}


@media screen and (min-width:0\0){
    select{
        background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==)
    }
}

select:disabled{
    background-color:#e6e6e6;
    cursor:default
}

select::-ms-expand{
    display:none
}

select[multiple]{
    height:auto
}


@media screen and (min-width:0em) and (max-width:39.9375em){.hide-for-small-only{display:none!important}}
@media screen and (max-width:-0.0625em),screen and (min-width:40em){.show-for-small-only{display:none!important}}
@media screen and (min-width:40em){.hide-for-medium{display:none!important}}
@media screen and (max-width:39.9375em){
    .show-for-medium{
        display:none !important
    }
}
@media screen and (min-width:40em) and (max-width:63.9375em){
    .hide-for-medium-only{
        display:none !important
    }
}
@media screen and (max-width:39.9375em),screen and (min-width:64em){
    .show-for-medium-only{
        display:none !important
    }
}

@media screen and (min-width:64em){
    .hide-for-large{
        display:none !important
    }
}

@media screen and (max-width:63.9375em){
    .show-for-large{
        display:none !important
    }
}

@media screen and (min-width:64em) and (max-width:74.9375em){
    .hide-for-large-only{
        display:none !important
    }
}

@media screen and (max-width:63.9375em),screen and (min-width:75em){
    .show-for-large-only{
        display:none !important
    }
}

.show-for-sr,.show-on-focus{
    position:absolute !important;
    width:1px;
    height:1px;
    overflow:hidden;
    clip:rect(0,0,0,0)
}

.show-on-focus:active,.show-on-focus:focus{
    position:static !important;
    height:auto;
    width:auto;
    overflow:visible;
    clip:auto
}

.hide-for-portrait,.show-for-landscape{
    display:block !important
}

@media screen and (orientation:landscape){
    .hide-for-portrait,.show-for-landscape{
        display:block !important
    }
    .hide-for-landscape,.show-for-portrait{
        display:none !important
    }
}

.float-right{
    float:right !important
}

.breadcrumbs{
    list-style:none;
    margin:0 0 1rem
}

.breadcrumbs::after,.breadcrumbs::before{
    content:' ';
    display:table
}

.breadcrumbs li{
    float:left;
    color:#0a0a0a;
    font-size:.6875rem;
    cursor:default;
    text-transform:uppercase
}

.breadcrumbs li:not(:last-child)::after{
    color:#cacaca;
    content:"/";
    margin:0 .75rem;
    position:relative;
    top:1px;
    opacity:1
}

.breadcrumbs a{
    color:#2199e8
}

.breadcrumbs a:hover{
    text-decoration:underline
}

.breadcrumbs .disabled{
    color:#cacaca
}

@media screen and (min-width:40em){
    .button-group.stacked-for-small .button{
        width:auto
    }
    .button-group.stacked-for-small .button:not(:last-child){
        border-right:1px solid #fefefe
    }
}

.menu{
    margin:0
}
[data-whatinput=mouse]
.menu>li{
    outline:0
}

.menu>li>a{
    display:block;
    padding:.7rem 1rem;
    line-height:1
}

.menu a,.menu button,.menu input{
    margin-bottom:0
}

.menu>li>a>i,.menu>li>a>img{
    display:inline-block;
    margin-right:.25rem
}

.menu>li{
    display:table-cell
}

.menu.vertical>li{
    display:block
}

@media screen and (min-width:40em){
    .menu.medium-horizontal>li{
        display:table-cell
    }

    .menu.medium-vertical>li{
        display:block
    }
}

@media screen and (min-width:64em){
    .menu.large-horizontal>li{
        display:table-cell
    }

    .menu.large-vertical>li{
        display:block
    }
}

.menu-text{
    color:inherit;
    line-height:1;
    padding:.7rem 1rem
}

body,html{
    height:100%
}

.tabs{
    margin:0;
    background:#fefefe
}

.tabs::after,.tabs::before{
    content:' ';
    display:table
}

.tabs.simple>li>a{
    padding:0
}

.tabs.simple>li>a:hover{
    background:0 0
}

.tabs.vertical>li{
    width:auto;
    float:none;
    display:block
}

.tabs-title,.title-bar-left{
    float:left
}

.tabs.primary{
    background:#2199e8
}

.tabs.primary>li>a{
    color:#fefefe
}

.tabs.primary>li>a:focus,.tabs.primary>li>a:hover{
    background:#1893e4
}

.tabs-title>a{
    display:block;
    padding:1.25rem 1.5rem;
    line-height:1;
    font-size:12px;
    color:#2199e8
}

.tabs-title>a:focus,.tabs-title>a:hover,.tabs-title>a[aria-selected=true]{
    background:#e6e6e6
}

.tabs-content{
    background:#fefefe;
    transition:all .5s ease;
}

.thumbnail{
    line-height:0;
    max-width:100%;
    transition:box-shadow .2s ease-out;
    margin-bottom:1rem
}

.title-bar-right{
    float:right;
    text-align:right
}

.top-bar{
    padding:.5rem
}
.top-bar::after,.top-bar::before{
    content:' ';
    display:table
}

.top-bar,.top-bar ul{
    background-color:#eee
}


.top-bar input{
    width:200px;
    margin-right:1rem
}


@media screen and (min-width:40em){
    .top-bar-left{
        float:left
    }
    .top-bar-right{
        float:right
    }
}

.thumbnail-mini{
    width: 150px;
    height: 150px;
}
